<% provide(:title, "About") %>
<div class="container">
  <h1>About</h1>
  <p>My name is Anthony Bobsin. I am a second year computer science student. This website is a personal project of mine in order to familiarize myself with Ruby on Rails. Hope you enjoy it.</p>
</div>