<% provide(:title, "Help") %>
<div class="container homemain">
  <h1>Help</h1>
  <p>This is a website to place and/or recieve orders online. Once the registration page is set-up, users will be able to register as a customer and/or a service and start ordering from other services. If you register as a service please note you must update your services' menu through this website in order for others to order from you. I will update this help page as more features are implemented.</p>
</div>
