<% provide(:title, "Help") %>
<div class="container homemain">
    <div class="row staticHelp">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 
            col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <h1>Help</h1>
            <p>This is a website to view menus online. Currently, users are able to register as a customer and/or a service and view menus from other services. If you register as a service please note you must update your service's menu through this website in order for others to view your menu. I will update this help page as more features are implemented.</p>
        </div>
    </div>
</div>
