<% provide(:title, "Home") %>
<div class="jumbotron" id="homeimg">
  <h1 class="homemain">Welcome</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success", id:"signupbutt" %>
</div>

