<!-- If the user is a service display it in the service directory -->
<% if user.service %>
    <div class="row userEntry">
        <li>
          <%= gravatar_for user, size:50 %>
          <h3><%= link_to user.name, user %></h3>

        </li>
    </div>
<% end %>
