<% provide(:title, @user.name) %>
<div class="container homemain">
  <h1 id="usermid">
    <%= gravatar_for @user %> 
    <%= @user.name %>
  </h1>
  <% if @user.service == true %>
    <% if @menu %>
      <%= render @menu %>
    <% end %>
  <% end %>
</div>