/* Variables */
$teal: #009688;
$lighter-emerald: #2FDD78;
$light-emerald: #2ED172;
$emerald: #2ecc71;
$dark-emerald: #27C468;
$nephritis: #27ae60;
$cyan: #00bcd4;
$blue: #2196f3;
$belize: #2980b9;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$grey: #9e9e9e;
$midnightBlue: #2c3e50;

$lg-screen: 1200px;
$md-screen: 992px;
$sm-screen: 768px;
