@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins and variables */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$dark-green: #128B07;
$darker-green: #117A07;
$white-gray: #eee;
$dark-gray: #777;
$darker-gray: #333;

/* ID specific */

#homeimg {
	background-image: url("https://ununsplash.imgix.net/17/unsplash_527bf4b4ae00d_1.JPG?q=75&fm=jpg&s=5b2bee139e6e81b50880cd776af1a047");
	background-position: 50% 20%;
	background-repeat: no-repeat;
	color: $darker-gray;
	height: 100vh;
	width: 100%;

}

#loginbox {
	margin: 4px 0px 0px -20px;
}

#usermid {
	margin-left: -5%;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 1.1px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1.1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray;
}

p {
	margin: 35px 20% 0 20%;
  font-size: 1.1em;
  line-height: 2.5em;
  letter-spacing: 1.1px;
  text-align: center;
}

/* header */

.navbar {
	background-color: rgba(1, 1, 1, 0.8);
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white-gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  	color: $white-gray;
  	text-decoration: none;
  }
}

.dropdown-menu {
	background-color: rgba(1, 1, 1, 0.8);
	.rightnav {
		color: $dark-gray;
		&:hover {
			background-color: inherit;
			color: $white-gray;
		}
	}
}

/* Content */
.homemain {
  padding: 75px 0 0 0;
  text-align: center;
  vertical-align: middle;

}
.vhmod {
	min-height: 100vh;
}

.welcome {
	width: 100%;
	margin-top: 30vh;
}
.spacer {
	margin-top: 50px;
}


/* footer */

footer {
  margin: 10px 15px 0px 15px;
  padding-top: 5px;
  border-top: 1px solid $white-gray;
  color: $dark-gray;
  a {
  	color: $dark-gray;
  	&:hover {
  		color: $darker-gray;
  		text-decoration: none;
  	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 15px;
  	}
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.signupbutt {
	background-color: $dark-green;
	margin: 15px 0 0;
	color: $white-gray;
	letter-spacing: 1.05px;
	width: 100%;
	&:hover {
		background-color: $darker-green;
	}
}

/* forms */

input, textarea, select, .uneditable-input {
	display: inline;
  border: 1px solid #bbb;
  margin:0 0 15px 0;
  @include box_sizing;
}

.float-left {
	text-align: left;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin: 0px 0 10px 25px;
  span {
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users */

.users {
  list-style: none;
  margin: 0;
  li {
    text-align: left;
    width: 100%;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    a {
      float: right;
      font-size: 20px;
      margin-right: 40px;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    .deletebutt {
      font-size: 14px;
      color: red;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }
}

/* Menu */

.itemlist {
  padding: 35px 0;
  li {
    display: inline;
  }
  .item {
    float: left;
  }
  .price{
    float: right;
  }
  border-bottom: 1px solid $gray-lighter;
}