// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Edit menu form */

.editMenu {
    textarea {
        margin-bottom: 40px;
    }
    .menuItems {
        width: 100%;
        margin-bottom: 40px;
        .item {
            width: 85%;
        }
        .price {
            width: 15%;
        }
    }
    .signupbutt {
        margin-bottom: 15px;
    }
    
}
