// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './settings/_config';

#homeimg {
    background-image: url("http://i.imgur.com/3KWUmjp.jpg");
    height: calc(100vh - 50px);
    h1 {
        text-align: center;
        margin-top: 20vh;
        font-size: 15vw;
        @media(min-width: $md-screen) {
            font-size: 15rem;
        }
    }

    .signupbutt {
        margin-top: 10vh;
        font-size: 5vw;
        @media(min-width: $md-screen) {
            font-size: 5rem;
        }
    }
}

.signupbutt {
    border-radius: 0px;
    padding: 10px 40px;
    text-align: center;
    width: 100%;
    background: $emerald;
    border: $nephritis;

    background: linear-gradient($emerald 50%, $dark-emerald 50%);
    box-shadow: 0 2px 5px $midnightBlue;
    transition: box-shadow 1s;
    &:hover {
        background: linear-gradient($lighter-emerald 50%, $light-emerald 50%);
        box-shadow: 0 7px 25px $midnightBlue;
    }
}

/* Help page */

.staticHelp {
    p {
        font-size: 25px;
    }
}

