<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Food Service Application", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",   root_path, class: "rightnav" %></li>
        <li><%= link_to "Help",   help_path, class: "rightnav" %></li>
        <li><%= link_to "Log in", '#', class: "rightnav" %></li>
      </ul>
    </nav>
  </div>
</header>